.invoice-header {

  .card-infor {
    display: flex;
    flex-direction: column;
    img {
      max-width: 200px;
    }
    .infor-footer {
      display: flex;

      :first-child {
        margin-right: 100px;
      }

      .bill,
      .address {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .invoice-right {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
      color:#8D8D8D;
    }
    .show-content {
      width: 100%;
      .row,.col {
        display: flex;
        justify-content: right;
      }
      .date {
        padding: 20px 0;
      }
      .due {
        padding: 10px 0;
        background-color: #ddd;
      }
    }
  }
}
